/* Login.css */

.login-wrapper{
  width:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-page {
  display: flex;
  height: 70vh;
  width: 100%;
  margin: 4rem auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

/* Left side - Image */
.login-illustration {
  flex: 1;
  overflow: hidden;
}

.illustration-content {
  width: 100%;
  height: 100%;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right side - Form */
.login-container {
  flex: 1;
  background: #fff;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.login-container h2 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-container input,
.login-container button {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 6px;
}

.login-container input {
  border: 1px solid #ddd;
}

.login-container input:focus {
  border-color: #6e00ff;
  outline: none;
}

.login-container button {
  background: #6e00ff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-container button:hover {
  background: #5600cc;
}

.error-msg {
  text-align: center;
  color: #e74c3c;
  margin-top: 1rem;
}

.signup-link{
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.forgot-password-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup-link a,
.forgot-password-link a {
  color: #4a90e2;
  text-decoration: none;
  font-weight: 500;
}

.signup-link a:hover,
.forgot-password-link a:hover {
  text-decoration: underline;
}


.login-form {
  gap: 1rem;
  /* width: 100%; */
  max-width: 400px;
}
/* Responsive */
@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    height: auto;
    width: 90%;
  }

  .login-illustration {
    height: 200px;
  }

  .login-container {
    padding: 2rem;
  }
}
